.login__header {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

button,
mat-raised-button {
  background-color: var(--background-paper) !important;
  color: var(--light) !important;
}
